<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
	</configSections>

	<!-- https://github.com/nlog/nlog/wiki/Configuration-file -->
	<nlog throwConfigExceptions="true">
		<targets>
			<target name="logconsole" type="Console" layout="${date:format=yyyy-MM-dd HH\:mm\:ss} ${message} ${exception:format=message}"/>
			<target name="logfile" type="File" fileName="${specialfolder:folder=CommonApplicationData:cached=true}/FacadeFor3E_${shortdate}.log" layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}"/>
		</targets>
		<rules>
			<logger name="FacadeFor3e.TransactionServices" minlevel="Debug" writeTo="logconsole,logfile"/>
			<logger name="FacadeFor3e.ODataServices" minlevel="Debug" writeTo="logconsole,logfile"/>
		</rules>
	</nlog>
</configuration>
