<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
	</configSections>

	<!-- https://github.com/nlog/nlog/wiki/Configuration-file -->
	<nlog throwConfigExceptions="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd">
		<targets>
			<target name="log_to_debugger" xsi:type="Debugger" layout="${message} ${exception:format=tostring}"/>
			<target name="log_to_console" xsi:type="Console" layout="${date:format=yyyy-MM-dd HH\:mm\:ss} ${message} ${exception:format=tostring}"/>
			<target name="log_to_file" xsi:type="File" fileName="${specialfolder:folder=CommonApplicationData:cached=true}/FacadeFor3E_${shortdate}.log" layout="${longdate}|${level:uppercase=true}|${logger}|${threadId}|${message} ${exception:format=tostring}"/>
		</targets>
		<rules>
			<logger name="FacadeFor3e.TransactionServices" minlevel="Debug" writeTo="log_to_console,log_to_file,log_to_debugger"/>
		</rules>
	</nlog>
</configuration>
