<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- when running 3e processes, the following credentials will be used - MAKE SURE THE ACCOUNT IS A MEMBER OF THE LOCAL ADMINISTRATORS GROUP -->
    <add key="3eUsername" value="eliteadm"/>
    <add key="3eDomain" value="nabarro"/>
    <add key="3ePassword" value="3l1tE3eAdmIn"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
